<a href="Login.html">
<img src="src/Login.png" usemap="#image-map">
<map name="image-map">
    <area target="" alt="" title="AllTasks.html" href="" coords="148,478,229,516" shape="rect">
    <area target="" alt="Register" title="Register" href="Register.html" coords="331,480,412,516" shape="rect">
    <area target="" alt="GetBackAccount" title="GetBackAccount" href="GetBackAccount.html" coords="457,632,571,654" shape="rect">
</map>