<a href="AllTasks.html">
<img src="src/NewTask.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="" title="" href="NewCare.html" coords="89,360,126,375" shape="rect">
    <area target="" alt="" title="" href="NewMedication.html" coords="89,376,158,389" shape="rect">
    <area target="" alt="" title="" href="NewCommunication.html" coords="89,391,184,405" shape="rect">
    <area target="" alt="" title="" href="NewActivity.html" coords="89,406,138,422" shape="rect">
    <area target="" alt="" title="" href="NewMeal.html" coords="89,423,124,441" shape="rect">
</map>
</a>