<img src="src/ProviderAllTasks.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="" title="" href="AllTasks.html" coords="59,175,160,221" shape="rect">
    <area target="" alt="" title="" href="Completed.html" coords="84,226,170,240" shape="rect">
    <area target="" alt="" title="" href="Incomplete.html" coords="81,246,177,261" shape="rect">
    <area target="" alt="" title="" href="Month.html" coords="79,323,171,340" shape="rect">
    <area target="" alt="" title="" href="Week.html" coords="79,301,170,318" shape="rect">
    <area target="" alt="" title="" href="Notes.html" coords="61,353,168,395" shape="rect">
    <area target="" alt="" title="" href="ProviderAllTasks.html" coords="37,425,164,474" shape="rect">
    <area target="" alt="" title="" href="CarePlan.html" coords="82,478,169,492" shape="rect">
    <area target="" alt="" title="" href="Medication.html" coords="82,497,170,513" shape="rect">
    <area target="" alt="" title="" href="Communication.html" coords="83,515,193,529" shape="rect">
    <area target="" alt="" title="" href="Activity.html" coords="81,533,154,550" shape="rect">
    <area target="" alt="" title="" href="Meal.html" coords="81,552,135,569" shape="rect">
    <area target="" alt="" title="" href="NewTask.html" coords="518,158,578,198" shape="rect">
</map>