<img src="src/Register.png" usemap="#image-map">
<map name="image-map">
     <area target="" alt="TheElderly" title="TheElderly" href="TheElderlyRegister.html" coords="233,309,141,279" shape="rect">
     <area target="" alt="TheCarer" title="TheCarer" href="TheCarerRegister.html" coords="278,279,364,308" shape="rect">
     <area target="" alt="TheProvider" title="TheProvider" href="TheProviderRegister.html" coords="399,281,491,307" shape="rect">
</map>
