<img src="src/RegisterCarer.png" usemap="#image-map">
<map name="image-map">
      <area target="" alt="RegisterBack" title="RegisterBack" href="Login.html" coords="220,612,284,636" shape="rect">
     <area target="" alt="RegisterConfirm" title="RegisterConfirm" href="Login.html" coords="331,611,393,634" shape="rect">
</map>