<img src="src/RegisterTheElderly.png" usemap="#image-map">
<map name="image-map">
      <area target="" alt="RegisterBack" title="RegisterBack" href="Login.html" coords="210,564,276,587" shape="rect">
      <area target="" alt="RegisterConfirm" title="RegisterConfirm" href="Login.html" coords="317,563,383,588" shape="rect">
</map>