<!-- 
{% if user %}
    {{Message}}<br>
{% endif %}
<br>
<a href="{% url 'getcare:login'  %}">Log off</a>
<p>Task List</p>
<a href="{% url 'getcare:newtask' user.key %}">Add a New Task</a>
<br><br>
{% if Tasks %}

    {% for task in Tasks %}
        <a href="{% url 'getcare:viewtask' user.key task.id %}">{{ task.title }} -- {{task.start_date}}</a><br>
    {% endfor %}

{% else %}
    <p>No Tasks are available.</p>
{% endif %}
{% if Notes %}

    {% for note in Notes %}
        <a href="{% url 'getcare:viewnote' user.key note.id %}">{{ note.title }} -- {{note.start_date}}</a><br>
    {% endfor %}

{% else %}
    <p>No Notes are available.</p>
{% endif %} -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Bar */
.navbar {
  overflow: hidden;
  background-color: #4CAF50;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
  font-size: 17px;
}
.profile{
  float:right;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* content */
.button {
  background-color: #ccc;
  color: rgb(36, 36, 36);
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  position:absolute;
  margin-left: 1080px;
  margin-top: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border:1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
</style>
</head>
<body>

<div class="navbar">
  <a href=""{% url 'getcare:index' user.key 'ALL' %}""><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="20px" width="90px"/></a>
  <div class="dropdown">
    <button class="dropbtn">All Tasks 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
      
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Notes 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Calendar 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Week View</a>
      <a href="#">Month View</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Provider 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
      <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
    </div>
  </div> 
  <div class="profile">
    <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    <a href="{% url 'getcare:login' %}">LOG OFF</a>
    
  </div>
  <div class="search">
    <input type="text" placeholder="Search..">
  </div>
</div>
 <!-- content -->


    <button class="button" ><a href="{% url 'getcare:newtask' user.key %}">+ New Task</a></button>
    <table style= "margin-top:80px"  >
      <tr>
        <th style="text-align:center">Task</th>
        <th style="text-align:center">Provider</th>
        <th style="text-align:center">Deadline</th>
      </tr>
      {% if Tasks %}
        {% for task in Tasks %}
          <tr>
          <td>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="task1"  style="font-size: 20px;"> <a href="{% url 'getcare:viewtask' user.key task.id %}">{{ task.title }}</a><br> </label>
          </td>
          <td style="text-align:center">
            <p for="person" >{{ task.provider.firstName}} {{ task.provider.lastName}}</p>
          </td>
          <td style="text-align:center">
            <p for="timestamp" class="time"> {{task.start_date}} </p>
          </td>    
          </tr>
        {% endfor %}
      {% else %}
          <p>No Tasks are available.</p>
      {% endif %}

    


    


    </table>
</body>
</html>
