<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

</style>
</head>
<body>

<form action="{% url 'getcare:info' user.key %}" method="post">
    {% csrf_token %}
    <label>Your First Name </label>
    <input type="text" name="firstName" value="{{ user.firstName }}"><br>
    <label>Your Last Name </label>
    <input type="text" name="lastName" value="{{ user.lastName }}"><br>
    <label>New Password </label>
    <input type="password" name="password" value=""><br>
    <label>Email </label>
    <input type="text" name="email" value="{{ user.email }}"><br>
    <label>Phone </label>
    <input type="text" name="phone" value="{{ user.phone }}"><br>
    <label>Carer Relation Code ({{ user.carer.firstName }} {{ user.carer.lastName }})</label>
    <input type="text" name="carerCode" value="{{ user.carer.relation_code }}"> <br>
    <label>Care Provider Code ({{ user.careProvider.firstName }} {{ user.careProvider.lastName }}) </label>
    <input type="text" name="careCode" value="{{ user.careProvider.relation_code }}"> <br>
    <label>Medication Provider Code ({{ user.medicationProvider.firstName }} {{ user.medicationProvider.lastName }})</label>
    <input type="text" name="medicationCode" value="{{ user.medicationProvider.relation_code }}"><br>
    <label>Communication Provider Code ({{ user.communicationProvider.firstName }} {{ user.communicationProvider.lastName }}) </label>
    <input type="text" name="communicationCode" value="{{ user.communicationProvider.relation_code }}"><br>
    <label>Activity Provider Code ({{ user.activityProvider.firstName }} {{ user.activityProvider.lastName }}) </label>
    <input type="text" name="activityCode" value="{{ user.activityProvider.relation_code }}"><br>
    <label>Meal Provider Code ({{ user.mealProvider.firstName }} {{ user.mealProvider.lastName }})</label>
    <input type="text" name="mealCode" value="{{ user.mealProvider.relation_code }}"><br>
    <button type="submit">OK</button>
</form>

</form
</body>
</html>
