{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
    <style>
    /* Bar */
    .navbar {
      overflow: hidden;
      background-color: #4CAF50;
     
    }   

    .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
  font-size: 17px;
}
.profile{
  float:right;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

  body {font-family: Arial, Helvetica, sans-serif;}
  body {text-align: center} 
  
  .new-task{
    font-size: 36px;
        text-align: left;
        margin-top:70px;
        margin-left: 20.5%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
  .task-title{
        text-align: left;
        margin-top:120px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-select{
        margin-top:180px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-date{
        margin-top:230px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-input{
        margin-top:280px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    .task-submit{
      margin-top:800px;
      margin-left: 21%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }

/*sidenav styles*/
html, body, .sidenav {
    height: 100%;
} 
.sidenav .four.columns { 
    background:  #e6fae6;
    height: 100%;
    width: 15%;
    position:fixed;
    overflow:auto;
    text-align: left;
    font-family: inherit;
    font-size: 20px; 
}
.sidenav .four.columns ul,
.sidenav .four.columns ul li{
    /* margin: 0px; */
    margin-left: -5%;
    /* text-align: center; */
    list-style-type:none;
}
.sidenav .four.columns ul li a{
    margin-left: 10%;
    display: block;
    line-height: 49px;
    padding: 0px 0px;
    color:black;
    font-family: inherit;
    /* text-transform: uppercase; */
    text-decoration: none;
    
    letter-spacing: 0.08em;
}
.sidenav .four.columns ul li a:hover{
    margin-left: 0%;
    margin-right: 10%;
    border-bottom: none;
    background:#4CAF50;
    color: white;
    cursor: pointer;
}

    </style>
        
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
      <a href="{% url 'getcare:index' user.key 'ALL' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="20px" width="90px"/></a>
      <div class="dropdown">
        <button class="dropbtn">All Tasks 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
          <a href="{% url 'getcare:index' user.key 'INCOMPLETE' %}">Incomplete</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Notes 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
          
        </div>
      </div> 
                
      <div class="dropdown">
        <button class="dropbtn">Calendar 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Week View</a>
          <a href="#">Month View</a>
        </div>
      </div> 
              
      <div class="dropdown">
        <button class="dropbtn">Provider 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
          <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
          <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
          <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
          <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
          <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
          <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
        </div>
      </div> 
                
      <div class="profile">
        <a href="{% url 'getcare:login' %}">LOG OFF</a>
      </div>
                
      <div class="search">
        <input type="text" placeholder="Search..">
      </div>
      
    </div>
    <!-- navbar -->

    <!-- side navbar -->
    <aside class="sidenav">
      <div class="four columns">
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Tasks</a></li>
        <li><a href="#">Note</a></li>
        
        </ul>
      </div> 
    </aside> 
    <!-- side navbar -->
  

    <!-- <div>
        <label tyle="margin-left: 14px; font-size:40px">New Note</label>
        </div> -->
      <!-- <h1>New Note</h1> -->
      <form action="{% url 'getcare:newnote' user.key %}" method="post">
        {% csrf_token %}
          <!-- <h1>New Note</h1> -->
        <div class = "new-note" style="height: 25px; width: 60%;">New Note</div>
        <div class = "note-title" style="height: 25px; width: 60%;">
          <label for='title' style="margin-left: 14px;">Note Title</label>  
          <input type="text" style="width:80%;height:26px; margin-left: 14px;text-align: left" name="title"><br>
        </div>

        <div class="custom-select" id = "note-type" style="text-align: left;width: 60%;">
          <label for='type' style="margin-left: 14px;">Note Type</label> 
          <select  style="width:80%;height:26px; margin-left: 14px;" name = "classTask">
            <option value="OTHER">Select the task type:</option>
            <option value="ACTIVITY">Activity</option>
            <option value="CAREPLAN">Care</option>
            <option value="COMMUNICATION">Communication</option>
            <option value="MEAL">Meal</option>
            <option value="MEDICATION">Medication</option>
          </select>
        </div>

        <div class="note-date"  style="text-align: left;width: 60%;">
        <label for='date' style="margin-left: 14px;">Note Date</label>
        <input type="date" name="date" style="width:80%; height:26px;margin-left: 14px;text-align: left"><br>
        <p></p>
        </div>

        <div class="note-input"  style="text-align: left; width: 60%;">
          <label for='detail' style="margin-left: 16px; margin-top:20px;">Note Details</label>
          <textarea rows=30% cols=100% name="detail" style="background-color:#ddd; border: none;margin-top: 10px;margin-left: 14px;text-align: left;width: 89.5%;">{{note.detail}}</textarea><br>
        </div>
        <div>
          <input class = "note-submit" type="submit" value="Submit" ></input>
        </div>
      </form>


</body>
</html>