<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  background-color: white;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#myDIV {

  background-color: #f1f1f1;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 5px 0 10px 0;
  position: relative;
  top:5px;

}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #f1f1f1;
  margin: 5px 0 10px 0;

}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}


.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>

<form action="{% url 'getcare:register' %}" method="post">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    {% csrf_token %}
    <label for='FirstName'><b>First Name</b></label>
    <input type="text" name="FirstName" required><br>

    <label for='LastName'><b>Last Name</b></label>
    <input type="text" name="LastName" required><br>

    <p><b>Choose your gender:</b></p>
    <fieldset id = "myDIV">
      <input class = "myDiv" type="radio" name="gender" id="male" value="male"  checked>
        <label for="male" >Male</label>
        
        <input type="radio" name="gender" id="female" value="female">
     
        <label for="female">Female</label>
    </fieldset> 
     <br>
     <br>
     <label for="phone"><b>Phone</b></label>
    <input type="text" placeholder="0412 123 123" name="phone" id="phone" required>
 
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="e.g 123@gmail.com" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id = "txtPassword" placeholder="Enter Password" name="password" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" id = "txtConfirmPassword" name="psw-repeat" id="psw-repeat" required  onChange="validate();">
    <label for='role'><b>Role</b></label>
    <div class="custom-select" style="width:200px;">
        <select name='role'>
          <option value="0">Select the role:</option>
          <option value="senoir">Senior</option>
          <option value="carer">Carer</option>
          <option value="provider">Provider</option>
        </select>
    </div>
    <label for='role'><b>Job Type (Only for Providers)</b></label>
    <div class="custom-select" style="width:200px;">
      <select name='jobType'>
        <option value="CARE">Care</option>
        <option value="MEDICATION">Medication</option>
        <option value="COMMUNICATION">Communication</option>
        <option value="ACTIVITY">Activity</option>
        <option value="MEAL">Meal</option>
        <option value="OTHER">Other</option>
      </select>
    </div>
    <br>

    <label for='Code'><b>Relation Code</b></label>
    <input type="text" name="relationCode" placeholder="Option"><br>

    <hr>
    <input type="checkbox" required> <label> I accept the terms and conditions for signing up to this service, and hereby confirm I have read the <a href="#">Terms & Privacy</a>.</label>

    <button type="submit" class="registerbtn" onclick="someFunction()" }>Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="{% url 'getcare:login' %}">Sign in</a>.</p>
  </div>
</form>
<script type="text/javascript">

    function someFunction(){
        Validate();
        
    }
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

    var x, i, j, l, ll, selElmnt, a, b, c;

x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
       
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {

  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
document.addEventListener("click", closeAllSelect);
</script>
</body>
</html>
<!-- sfdjk -->